# Dependencies
node_modules
.npm

# Next.js build output
.next
out

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Docs & misc (don't need in container)
docs
README.md
*.md
tmp
*.log

# Tests
tests
__tests__
*.test.ts
*.test.tsx
jest.config.*
coverage

# CI/CD
.github
.gitlab-ci.yml
.gitlab

# AWS / terraform
*.tfstate
*.tfstate.backup
.aws

# Docker
Dockerfile*
docker-compose*.yml
.docker
